<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBTL_AppBanDienThoai"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.ChiTietDonHangActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ThanhCongActivity"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".activity.TimKiemActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DatHangActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ThongTinTaiKhoanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DangKyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DangNhapActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GioHangActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DienThoaiRealmeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DienThoaiXiaomiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DienThoaiVivoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DienThoaiOppoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChiTietSpActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LienHeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DienThoaiSamSungActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DienThoaiIphoneActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>